# requirements.txt

aiosqlite==0.21.0
alembic==1.16.3
greenlet==3.2.3
fastapi==0.116.0
httpx==0.28.1
loguru==0.7.3
openai==1.93.3
pydantic==2.11.7
pydantic_settings==2.10.1
python-dotenv==1.1.1
sqlalchemy==2.0.41
uvicorn==0.35.0
